<!DOCTYPE html>

<html>

<head>
    <title> Our First Chat Bot!</title>

    <!-- CSS styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#bot_form").submit(function (e) {
                var url = "{{ url_for('message') }}"
                // get the users input
                var message = $("input[name='message']").val();
                var message_formatted = "<p class='message human_message'>" + message + "</p>";
                // add the users message to keep track
                $("#output").append(message_formatted)

                // AJAX Post
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'message': message}, // Add our input data
                    success: function (data) {
                        // Format our response into a paragraph with a message class
                        message_formatted = "<p class='message bot_message'>" + data.message + "</p>"
                        // Append our output into our output field
                        $("#output").append(message_formatted);
                    }
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
                return false;
            });
        });
    </script>
</head>

<body>
    <h1> Enter a message to chat! </h1>
    <form id="bot_form" method="POST">
        <input id="message" name="message">
    </form>

    <!-- our output for messages -->
    <div id="output">

    </div>
</body>

</html>