
#bot_form {
    position: fixed;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

.human_message {
    background-color: #353b61;
}

.bot_message {
    background-color: #607D8B;
}